<section class="hero is-info">
  <!-- Hero head: will stick at the top -->
  <div class="hero-head">
    <nav class="navbar">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item" href="/decks/">
            Flashcards
          </a>
        </div>
      </div>
    </nav>
  </div>
</section>