{{> header}}


<div class="columns">

  <div class="column">
    <section class="section">
      <div class="container is-fluid">

        <p class="title">
          Create Deck
        </p>

        <div class="field">
          <label class="label">Deck Name</label>
          <div class="control">
            <input class="input" type="text" placeholder="My Deck">
          </div>
        </div>

        <div class="field">
          <label class="label">Front</label>
          <div class="control">
            <label class="checkbox">
              <input type="checkbox">
              Heading
            </label>
            <br>
            <label class="checkbox">
              <input type="checkbox">
              Sub-heading
            </label>
            <br>
            <label class="checkbox">
              <input type="checkbox">
              Paragraph
            </label>
            <br>
            <label class="checkbox">
              <input type="checkbox">
              Image
            </label>
          </div>
        </div>

        <div class="field">
          <label class="label">Back</label>
          <div class="control">
            <label class="checkbox">
              <input type="checkbox">
              Heading
            </label>
            <br>
            <label class="checkbox">
              <input type="checkbox">
              Sub-heading
            </label>
            <br>
            <label class="checkbox">
              <input type="checkbox">
              Paragraph
            </label>
            <br>
            <label class="checkbox">
              <input type="checkbox">
              Image
            </label>
          </div>
        </div>

        <div class="field">
          <label class="label">Learn By</label>
          <div class="control">
            <textarea class="textarea" placeholder="Textarea"></textarea>
          </div>
        </div>

        <div class="field is-grouped">
          <div class="control">
            <button class="button is-link">Submit</button>
          </div>
          {{!-- <div class="control">
            <button class="button is-link is-light">Cancel</button>
          </div> --}}
        </div>

      </div>
    </section>
  </div>

  <div class="column">
    <section class="section">
      <div class="container is-fluid">
        <p class="title">
          Your Deck
        </p>

        <p class="title is-4">
          Deck Name
        </p>

        <div class="card">
          <div class="card-content">
            <p class="title is-4">
              My Heading
            </p>
            <p class="subtitle">
              My subheading
            </p>
          </div>
        </div>

        <div class="card mt-6">
          <div class="card-content">
            <p class="title is-4">
              My Heading
            </p>
            <p class="subtitle">
              My subheading
            </p>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>