{{> header}}


<div class="columns">

  <div class="column">
    <section class="section">
      <div class="container is-fluid">

        <p class="title">
          Create Deck
        </p>

        <div class="field">
          <label class="label">Deck Name</label>
          <div class="control">
            <input class="input" type="text" placeholder="My Deck" onchange="nameChanged()" id="deck-name-form">
          </div>
        </div>

        <div class="field">
          <label class="label">Front</label>
          <div class="control">
            <label class="checkbox">
              <input type="checkbox" id="front-heading-check" onchange="checkboxChanged()">
              Heading
            </label>
            <br>
            <label class="checkbox">
              <input type="checkbox" id="front-subheading-check" onchange="checkboxChanged()">
              Sub-heading
            </label>
            <br>
            <label class="checkbox">
              <input type="checkbox" id="front-para-check" onchange="checkboxChanged()">
              Paragraph
            </label>
            <br>
            <label class="checkbox">
              <input type="checkbox" id="front-img-check" onchange="checkboxChanged()">
              Image
            </label>
          </div>
        </div>

        <div class="field">
          <label class="label">Back</label>
          <div class="control">
            <label class="checkbox">
              <input type="checkbox" id="back-heading-check" onchange="checkboxChanged()">
              Heading
            </label>
            <br>
            <label class="checkbox">
              <input type="checkbox" id="back-subheading-check" onchange="checkboxChanged()">
              Sub-heading
            </label>
            <br>
            <label class="checkbox">
              <input type="checkbox" id="back-para-check" onchange="checkboxChanged()">
              Paragraph
            </label>
            <br>
            <label class="checkbox">
              <input type="checkbox" id="back-img-check" onchange="checkboxChanged()">
              Image
            </label>
          </div>
        </div>

        <div class="field">
          <label class="label">Learn By</label>
          <div class="control">
            <input type="date" id="deck-date" name="Date">
          </div>
        </div>

        <div class="field is-grouped">
          <div class="control">
            <button class="button is-link">Submit</button>
          </div>
          {{!-- <div class="control">
            <button class="button is-link is-light">Cancel</button>
          </div> --}}
        </div>

      </div>
    </section>
  </div>

  <div class="column">
    <section class="section">
      <div class="container is-fluid">
        <p class="title">
          Your Deck
        </p>

        <p class="title is-4" id="deck-name">
          My Deck
        </p>

        <div class="card">
          <div class="card-content">
            <p class="title is-4 d-none" id="front-heading">
              My Heading
            </p>
            <p class="subtitle d-none" id="front-subheading">
              My subheading
            </p>
            <p id="front-para" class="d-none">
              This is a sample paragraph which shows us how a paragraph will appear on the flashcards of this deck.
            </p>
            <figure class="image is-128x128 my-4" style="display: none" id="front-img">
              <img src="https://bulma.io/images/placeholders/128x128.png">
            </figure>
            <p class="subtitle" id="front-sample">
              Sample Front Flashcard
            </p>
          </div>
        </div>

        <div class="card mt-6">
          <div class="card-content">
            <p class="title is-4 d-none" id="back-heading">
              My Heading
            </p>
            <p class="subtitle d-none" id="back-subheading">
              My subheading
            </p>
            <p id="back-para" class="d-none">
              This is a sample paragraph which shows us how a paragraph will appear on the flashcards of this deck.
            </p>
            <figure class="image is-128x128 my-4" id="back-img" style="display: none">
              <img src="https://bulma.io/images/placeholders/128x128.png">
            </figure>
            <p class="subtitle" id="back-sample">
              Sample Back Flashcard
            </p>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>


<script src="/javascripts/createDeck.js"></script>