{{> header}}
<center>
    <h1 class ="allDecksHeading">Flashcards<span id="deck-name"></h1>
    <table id="tableOfFlashcards" class="table is-striped is-bordered is-hoverable is-fullwidth">
        <thead>
            <tr>
                <th>Flashcard Number</th>
                <th>Flashcard front</th>
                <th>Next practice date</th>
                <th>Go to card</th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
</center>
<script type="text/javascript">
  deckid = "{{deckid}}";
</script>
<script src="/javascripts/deckreview.js"></script>