body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.d-none {
	display: none;
}

#tableOfDecks {
  padding-left: 30px;
  padding-right: 30px;
  margin-left: 50px;
  margin-right: 50px;
}

.allDecksHeading {
  font-size: xx-large;
} 