body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.d-none {
	display: none;
}

#tableOfDecks {
  padding-left: 30px;
  padding-right: 30px;
  margin-left: 50px;
  margin-right: 50px;
}

.allDecksHeading {
  font-size: xx-large;
} 

.flashcardShow{
  width: 40rem;
  margin-top: 2rem;
  
}

.frontOfCard {
  background-color: #c4eeff;
  border: 1px solid;
}

.backOfCard {
  border: 1px solid;
}
